 

<h1 class="display-4  mb-5 text-center" style="color: #3F729B">La liste des livreurs</h1>
<table mdbTable  class="text-center">
        <thead class="unique-color white-text">
    <tr>
    <th class="text-center"><strong>#</strong></th>
    <th class="text-center"><strong>Nom et Prenom</strong>   </th>
    <th class="text-center"><strong>Email</strong></th>
    <th class="text-center"><strong>Numero de telephone</strong></th>
    <th class="text-center"><strong>Verifié</strong></th>
    <th class="text-center"><strong>Confirmé</strong></th>
    <th class="text-center"><strong>Bloqué</strong></th>
    <th class="text-center"><strong>Action</strong></th>
    <th class="text-center"><strong>Statu</strong></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let deliveryMan of deliveryMen; let id = index ;">
    <td>
      <span>{{id+1}}</span>
    </td>
    <td>
      <span>{{deliveryMan.firstName }} {{deliveryMan.lastName }}</span>
    </td>
    <td>
        <span> {{deliveryMan.email }}</span>
      </td>
      <td>
          <span> {{deliveryMan.phoneNumber }}</span>
        </td>
        <td>
          <span *ngIf="deliveryMan.verified">Oui</span>
         <span *ngIf="!deliveryMan.verified">Non</span> 
       </td>
    <td>
       <span *ngIf="deliveryMan.active">Oui</span>
      <span *ngIf="!deliveryMan.active">Non</span> 
    </td>
    <td>
        <span *ngIf="!deliveryMan.available">Oui</span>
       <span *ngIf="deliveryMan.available">Non</span> 
     </td>
 
    <td>
      <span class="table-remove">
        <button type="button" mdbBtn color="primary" rounded="true" size="sm" class="my-0" data-toggle="modal" data-target="#basicExample"  routerLink="/admin/deliveryman/{{deliveryMan._id}}" mdbWavesEffect ><mdb-icon fas icon="list"></mdb-icon></button>
       </span>
</td>
<td>
  <span *ngIf="compareTime(deliveryMan)"><mdb-icon fas class="green-text pr-3" size=2x icon="genderless"></mdb-icon>  </span>
 <span *ngIf="!compareTime(deliveryMan)"><mdb-icon fas class="red-text pr-3" size=2x  icon="genderless"></mdb-icon></span> 
</td>
   </tr>
</tbody>
</table>
