.nav-item .nav-link{
    color: white!important;
}
.sideP{
    font-size: x-large ;
    margin-bottom: 0px;
}

ul {
    width: 100%;
    height: inherit;
  
}
 ul li{
    border-bottom: 1px solid white;
}
.test{
    height: 100%;
    padding: 0;
}
.admin-sidebar{
    height: 20%;
    padding: 0;
}
