<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark stylish-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand"><img src="" /></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
    
      <li class="nav-item">
          <a (click)="logout()" class="nav-link waves-light" mdbWavesEffect>
              <mdb-icon size="2x" fas icon="sign-out-alt"></mdb-icon></a>
        </li>
     

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

